body {
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

iframe.nav {
    border:0px;
    width:100%;
    height:65px;
}

small {
    font-size: small;
}

code {
    font-size: small;
    background-color: lightgray;
}

#container {
    background-color: lightgreen;
    height: 410px;
    width: 700px;
    border: 15px solid gold;
    padding: 50px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}